#IMPORTANT NOTE: please Install PyTorch with CUDA
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

torch
transformers
datasets
peft
trl
accelerate
bitsandbytes
chromadb
sentence-transformers
scikit-learn
numpy
gradio
requests
